<template>
  <section>
    <div>
      <p>Internet &#8800; Web</p>
      <v-icon id="warning-icon">warning</v-icon>
      <p>Web &#61; un service d'internet</p>
    </div>
    <transition enter-active-class="animated rollIn faster" leave-active-class="animated rollOut faster" mode="out-in">
      <div v-if="state" :key="keyOld">
        <p>
          <v-icon>settings_input_component</v-icon>
          Internet
        </p>
        <div>
          <p>
            <v-icon>wifi</v-icon>
            Web
          </p>
          <p>
            <v-icon>message</v-icon>
            News
          </p>
          <p>
            <v-icon>email</v-icon>
            Mails
          </p>
          <p>
            <v-icon>folder_open</v-icon>
            FTP
          </p>
        </div>
      </div>
      <div v-if="!state" :key="keyNew">
        <p>
          <v-icon>settings_input_component</v-icon>
          Internet
        </p>
        <p>
          <v-icon>wifi</v-icon>
          Web
        </p>
        <p>
          <v-icon>cloud</v-icon>
          Cloud
        </p>
        <div>
          <p>
            <v-icon>message</v-icon>
            Forum
          </p>
          <p>
            <v-icon>email</v-icon>
            Webmail
          </p>
          <p>
            <v-icon>folder_open</v-icon>
            Stockage cloud
          </p>
        </div>
      </div>
    </transition>
    <div id="change-state">
      <v-btn @click="state = !state" color="primary">{{ btnText }}</v-btn>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Internet',
  data () {
    return {
      state: true,
      keyOld: 'old',
      keyNew: 'new'
    }
  },
  computed: {
    btnText () {
      return this.state ? 'Aujourd \'hui' : 'Hier'
    }
  }
}
</script>

<style lang="scss" scoped>
  section {
    display: grid;
    grid-template-columns: 1fr 2fr;

    > div {
      text-align: center;
      justify-content: space-around;
      height: 510px;

      &:first-child {
        justify-content: center;
      }

      &:last-child {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-left: 1px solid black;
      }

      .v-icon {
        margin: 15px;
        font-size: 60px;
      }

      #warning-icon {
        color: red;
        font-size: 300px;
      }

      p {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
      }

      div {
        display: flex;
        justify-content: space-around;
      }
    }

    #change-state {
      grid-column: 1/3;
      border-left: none;
      height: auto;
    }

    .v-btn {
      margin-top: 20px;
      font-weight: bold;
      font-size: 20px;
    }
  }
</style>
