<template>
  <section>
    <h2>Temps mort</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ timeout }}</code>
    </pre>

    <v-btn @click="timeoutStartTest">Lancer</v-btn>

    <h2>Boucle</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ interval.code }}</code>
    </pre>

    <div class="code__actions">
      <v-btn @click="intervalStartTest">Lancer</v-btn>
      <v-btn @click="intervalStopTest">Tuer</v-btn>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Interval',
  data () {
    return {
      timeout: `let i = 0
 this.interval.timer = setTimeout(() => {
   console.log(i++)
 }, 1000)`,
      interval: {
        timer: [],
        timerNumber: 0,
        code: `let i = 0
 let intervalName = setInterval(() => {
   console.log(prefix + ' => ' + i++)
 }, 1000)

 clearTimeout(intervalName)`
      }
    }
  },
  methods: {
    timeoutStartTest () {
      let i = 0
      this.interval.timer = setTimeout(() => {
        console.log(i++)
      }, 1000)
    },
    intervalStartTest () {
      let i = 0
      let prefix = `Interval ${this.interval.timerNumber += 1}`
      console.log(prefix + ' commencé')
      this.interval.timer.push({
        name: prefix,
        interval: setInterval(() => {
          console.log(prefix + ' => ' + i++)
        }, 1000)
      })
    },
    intervalStopTest () {
      let intervalKilled = this.interval.timer.shift()
      clearTimeout(intervalKilled.interval)
      console.log(intervalKilled.name + ' tué')
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../../../node_modules/vue-code-highlight/themes/prism-okaidia.css";
  @import "../../../../../node_modules/vue-code-highlight/themes/window.css";
  @import "style";
</style>
