<template>
  <section>
    <h2>Exemple de départ</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ startExample }}</code>
    </pre>

    <v-btn @click="startExampleTest">Start</v-btn>

    <h2>La promesse</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ promise.simple }}</code>
    </pre>

    <v-btn @click="promiseDeclarationTest">Start</v-btn>

    <h2>async / await</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ promise.async }}</code>
    </pre>

    <v-btn @click="promiseAsyncTest">Start</v-btn>

    <h2>Tenir toutes ses promesses</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ promise.all }}</code>
    </pre>

    <v-btn @click="promiseAllTest">Start</v-btn>
  </section>
</template>

<script>
export default {
  name: 'Promise',
  data () {
    return {
      startExample: `try {
   setTimeout(() => {
     if (Math.floor(Math.random() * Math.floor(10)) % 2 === 0) {
       console.log('Oui, c\\'est pair !')
     } else {
       throw 'Non, c\\'est impair...'
     }
   }, 1000)
 } catch (e) {
   console.error(e)
 }`,
      promise: {
        simple: `const promiseDeclaration = () => {
   return new Promise((resolve, reject) => {
     setTimeout(() => {
       Math.floor(Math.random() * Math.floor(10)) % 2 === 0
         ? resolve('Oui, c\\'est pair !')
         : reject(new Error('Non, c\\'est impair...'))
     }, 1000)
   })
 }

 let p = promiseDeclaration()

 p.then(response => {
   console.log(response)
 }).catch(error => {
   console.error(error)
 })`,
        async: `const promiseDeclaration = async () => {
   return new Promise((resolve, reject) => {
     setTimeout(() => {
       Math.floor(Math.random() * Math.floor(10)) % 2 === 0
         ? resolve('Oui, c\\'est pair !')
         : reject(new Error('Non, c\\'est impair...'))
     }, 1000)
   })
 }

 try {
   let result = await promiseDeclaration()
   console.log(result)
 } catch (e) {
   console.error(e)
 }`,
        all: `const promiseDeclaration = async () => {
   return new Promise((resolve, reject) => {
     setTimeout(() => {
       Math.floor(Math.random() * Math.floor(10)) % 10 !== 0
         ? resolve('Oui, c\\'est pair !')
         : reject(new Error('Non, c\\'est impair...'))
     }, 1000)
   })
 }

 Promise.all([
   promiseDeclaration(),
   promiseDeclaration(),
   promiseDeclaration()
 ])
   .then(response => {
     console.log(response)
   })
   .catch(error => {
     console.error(error)
   })`
      }
    }
  },
  methods: {
    startExampleTest () {
      try {
        setTimeout(() => {
          if (Math.floor(Math.random() * Math.floor(10)) % 2 === 0) {
            console.log('Oui, c\'est pair !')
          } else {
            throw 'Non, c\'est impair...'
          }
        }, 1000)
      } catch (e) {
        console.error(e)
      }
    },
    promiseDeclarationTest () {
      const promiseDeclaration = () => {
        return new Promise((resolve, reject) => {
          setTimeout(() => {
            Math.floor(Math.random() * Math.floor(10)) % 2 === 0
              ? resolve('Oui, c\'est pair !')
              : reject(new Error('Non, c\'est impair...'))
          }, 1000)
        })
      }

      let p = promiseDeclaration()

      p.then(response => {
        console.log(response)
      }).catch(error => {
        console.error(error)
      })
    },
    async promiseAsyncTest () {
      const promiseDeclaration = async () => {
        return new Promise((resolve, reject) => {
          setTimeout(() => {
            Math.floor(Math.random() * Math.floor(10)) % 2 === 0
              ? resolve('Oui, c\'est pair !')
              : reject(new Error('Non, c\'est impair...'))
          }, 1000)
        })
      }

      try {
        let result = await promiseDeclaration()
        console.log(result)
      } catch (e) {
        console.error(e)
      }
    },
    async promiseAllTest () {
      const promiseDeclaration = async () => {
        return new Promise((resolve, reject) => {
          setTimeout(() => {
            Math.floor(Math.random() * Math.floor(10)) % 10 !== 0
              ? resolve('Oui, c\'est pair !')
              : reject(new Error('Non, c\'est impair...'))
          }, 1000)
        })
      }

      Promise.all([promiseDeclaration(), promiseDeclaration(), promiseDeclaration()])
        .then(response => {
          console.log(response)
        })
        .catch(error => {
          console.error(error)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../../../node_modules/vue-code-highlight/themes/prism-okaidia.css";
  @import "../../../../../node_modules/vue-code-highlight/themes/window.css";
  @import "style";
</style>
