<template>
  <section>
    <h2>Déclaration</h2>

    <pre v-highlight class="language-javascript">
      <code>var name = value;</code>
    </pre>

    <p>Portée d'une fonction</p>

    <pre v-highlight class="language-javascript">
      <code>let name = value;</code>
    </pre>

    <p>Portée d'un bloc</p>

    <pre v-highlight class="language-javascript">
      <code>const name = value;</code>
    </pre>

    <p>Constante</p>

    <h2>Exemples</h2>

    <pre v-highlight class="language-javascript">
      <code>{{ constante.changeValue }}</code>
    </pre>

    <v-btn @click="changeConstante">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ variable.letOut }}</code>
    </pre>

    <v-btn @click="readLetOut">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ variable.letIn }}</code>
    </pre>

    <v-btn @click="readLetIn">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ variable.var }}</code>
    </pre>

    <v-btn @click="readVar">Essai</v-btn>

    <img src="/img/javascript/var_scope.png" alt="Schéma montrant le scope d'une variable avec let"/>
  </section>
</template>

<script>
export default {
  name: 'Variable',
  data () {
    return {
      constante: {
        changeValue:
          `const year = 2019;
 year = 2020;`
      },
      variable: {
        letOut:
          `let userLoggedIn = true;

 if (userLoggedIn) {
     let welcomeMessage = 'Bon retour !';
 } else {
     let welcomeMessage = 'Bienvenue cher nouveau !';
 }

 console.log(welcomeMessage);`,
        letIn:
          `let userLoggedIn = true;
 let welcomeMessage = '';

 if (userLoggedIn) {
     welcomeMessage = 'Bon retour !';
 } else {
     welcomeMessage = 'Bienvenue cher nouveau !';
 }

 console.log(welcomeMessage);`,
        var:
          `let userLoggedIn = true;

 if (userLoggedIn) {
     var welcomeMessage = 'Bon retour !';
 } else {
     var welcomeMessage = 'Bienvenue cher nouveau !';
 }

 console.log(welcomeMessage);`
      }
    }
  },
  methods: {
    changeConstante () {
      const year = 2019
      year = 2020
    },
    readLetOut () {
      let userLoggedIn = true

      if (userLoggedIn) {
        let welcomeMessage = 'Bon retour !'
      } else {
        let welcomeMessage = 'Bienvenue cher nouveau !'
      }

      console.log(welcomeMessage)
    },
    readLetIn () {
      let userLoggedIn = true
      let welcomeMessage = ''

      if (userLoggedIn) {
        welcomeMessage = 'Bon retour !'
      } else {
        welcomeMessage = 'Bienvenue cher nouveau !'
      }

      console.log(welcomeMessage)
    },
    readVar () {
      let userLoggedIn = true

      if (userLoggedIn) {
        var welcomeMessage = 'Bon retour !'
      } else {
        var welcomeMessage = 'Bienvenue cher nouveau !'
      }

      console.log(welcomeMessage)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../../../node_modules/vue-code-highlight/themes/prism-okaidia.css";
  @import "../../../../../node_modules/vue-code-highlight/themes/window.css";
  @import "style";
</style>
