<template>
  <section>
    <header>
      <nav-bar/>
    </header>
    <section>
      <router-view/>
    </section>
  </section>
</template>

<script>
export default {
  name: 'Home',
  components: {
    navBar: () => import('@/components/JS/Web/Nav')
  }
}
</script>
