<template>
  <div>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-header>Généralité et chevauchement</v-expansion-panel-header>
        <v-expansion-panel-content>
          <h2>Écriture</h2>
          <code-block :full-screen="true" :code="example"/>

          <h2>Ordre</h2>
          <code-block :code="exampleFalse.code" :example="exampleFalse.text"/>
          <code-block :code="exampleTrue.code" :example="exampleTrue.text"/>

          <h2>Langage insensible à la casse</h2>
          <code-block :full-screen="true" :code="casse"/>

          <p class="app__ressources">Ressources :</p>
          <ul class="app__ressources">
            <li>
              <a href="https://developer.mozilla.org/fr/docs/Apprendre/HTML/Balises_HTML" target="_blank">
                Les balises HTML et leur rôle
              </a>
            </li>
            <li>
              <a href="https://www.w3schools.com/html/html_intro.asp" target="_blank">
                HTML Introduction
              </a>
            </li>
            <li>
              <a href="https://www.w3schools.com/html/html_elements.asp" target="_blank">
                HTML Elements
              </a>
            </li>
          </ul>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>"inline"/"block"</v-expansion-panel-header>
        <v-expansion-panel-content>
          <code-block :title="inlineTag.title" :code="inlineTag.code" :example="inlineTag.code"/>
          <code-block :title="blockTag.title" :code="blockTag.code" :example="blockTag.code"/>

          <p class="app__ressources">Ressources :</p>
          <ul class="app__ressources">
            <li>
              <a href="https://developer.mozilla.org/fr/docs/Web/HTML/Éléments_en_ligne" target="_blank">
                Éléments en-ligne
              </a>
            </li>
            <li>
              <a href="https://developer.mozilla.org/fr/docs/Web/HTML/%C3%89l%C3%A9ments_en_bloc" target="_blank">
                Éléments de bloc
              </a>
            </li>
            <li>
              <a href="https://www.w3schools.com/html/html_blocks.asp" target="_blank">
                HTML Block and Inline Elements
              </a>
            </li>
          </ul>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>"double"/"auto-fermante"</v-expansion-panel-header>
        <v-expansion-panel-content>
          <code-block :title="emptyTag.title" :code="emptyTag.code" :example="emptyTag.code"/>
          <code-block :title="doubleTag.title" :code="doubleTag.code" :example="doubleTag.code"/>
          <p class="app__ressources">Ressources :</p>
          <ul class="app__ressources">
            <li>
              <a href="https://developer.mozilla.org/fr/docs/Apprendre/HTML/Balises_HTML#Aller_plus_loin" target="_blank">
                Les balises HTML et leur rôle - Aller plus loin
              </a>
            </li>
          </ul>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
export default {
  name: 'Tags',
  data () {
    return {
      example: `<balise attribut="valeur">
Texte
</balise>`,
      exampleTrue: {
        text: '<span style="color:green;">JUSTE</span>',
        code: '<div><p></p></div>'
      },
      exampleFalse: {
        text: '<span style="color:red;">FAUX</span>',
        code: '<div><p></div></p>'
      },
      casse:
      `<balise attribut="valeur">
Texte
</balise>
<Balise ATTRIBUT="valeur">
Texte
</Balise>
<Balise camelCase="valeur">
Texte
</Balise>`,
      inlineTag: {
        title: 'Inline',
        code: '<p>Exceeding reaction chamber thermal limit. We have begun power-supply calibration. Force fields have been established on all turbo lifts and crawlways. <span style="color:blue">Computer, run a level-two diagnostic on warp-drive systems.</span> Antimatter containment positive. Warp drive within normal parameters. I read an ion trail characteristic of a freighter escape pod. The bomb had a molecular-decay detonator. Detecting some unusual fluctuations in subspace frequencies.</p>'
      },
      blockTag: {
        title: 'Block',
        code: '<p>Exceeding reaction chamber thermal limit. We have begun power-supply calibration. Force fields have been established on all turbo lifts and crawlways. <div style="color:blue">Computer, run a level-two diagnostic on warp-drive systems.</div> Antimatter containment positive. Warp drive within normal parameters. I read an ion trail characteristic of a freighter escape pod. The bomb had a molecular-decay detonator. Detecting some unusual fluctuations in subspace frequencies.</p>'
      },
      emptyTag: {
        title: 'Auto-fermante, orpheline, vide...',
        code: '<img src="/img/html/geek.jpg" alt="Image description"/>'
      },
      doubleTag: {
        title: 'Double',
        code: '<p>Paragraphe</p>'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../../assets/style/ressources";

  h2:not(:first-child) {
    margin-top: 40px;
  }
</style>
