<template>
  <div>
    <h2>Les tailles...</h2>

    <h3>...absolues</h3>
    <ul>
      <li><span class="gras">mm</span> : Le millimètre</li>
      <li><span class="gras">cm</span> : Le centimètre (1cm = 38.8px)</li>
      <li><span class="gras">in</span> : Le inches (1in = 96px = 2.54cm)</li>
      <li><span class="gras">px</span> : Le pixel (1px = 1/96in)</li>
      <li><span class="gras">pt</span> : Le point (1pt = 1/72in)</li>
      <li><span class="gras">pc</span> : Le pica (1pc = 12 pt)</li>
    </ul>

    <h3>...relatives</h3>
    <ul>
      <li><span class="gras">em</span> : Ratio du font-size du parent le plus proche l'ayant déclaré.</li>
      <li><span class="gras">rem</span> : Ratio du font-size de l'élément root</li>
      <li><span class="gras">vw</span> : Ratio de la largeur de la fenêtre</li>
      <li><span class="gras">vh</span> : Ratio de la hauter de la fenêtre</li>
      <li><span class="gras">vmin</span> : Ratio le plus petit entre la hauteur et la largeur</li>
      <li><span class="gras">vmax</span> : Ratio le plus grand entre la hauteur et la largeur</li>
      <li><span class="gras">%</span> : Pourcentage de la taille du parent</li>
    </ul>

    <h2>Les couleurs</h2>

    <ul>
      <li>#<span class="hx-red">00</span><span class="hx-green">00</span><span class="hx-blue">00</span>: Valeur
        hexadécimale de la couleur => Valeur Hx de rouge, de vert et de bleu
      </li>
      <li>rgb(<span class="hx-red">255</span>, <span class="hx-green">255</span>, <span class="hx-blue">255</span>) :
        Taux de rouge, vert et bleu : de 0 à 255.
      </li>
      <li>rgba(<span class="hx-red">255</span>, <span class="hx-green">255</span>, <span class="hx-blue">255</span>, 1)
        :
        Taux de rouge, vert et bleu : de 0 à 255, puis opacité de 0 à 1.
      </li>
      <li>hsl(0, 0, 0) : Teinte de la couleur de 0 à 359 (cercle chromatique), taux de saturation et taux de luminosité
        : de 0 à 1
      </li>
      <li>hsla(0, 0, 0, 1) : Teinte de la couleur de 0 à 359 (cercle chromatique), taux de saturation et taux de
        luminosité : de 0 à 1, puis opacité de 0 à 1.
      </li>
      <li>red:
        <a href="https://www.w3schools.com/cssref/css_colors.asp" target="_blank">
          Nom d'une des 140 couleurs définies par le w3c
        </a>
      </li>
    </ul>

    <p class="app__ressources">Ressources :</p>
    <ul class="app__ressources">
      <li>
        <a href="https://color.adobe.com/fr/create/color-wheel/" target="_blank">Adobe Color</a>
      </li>
      <li>
        <a href="https://material.io/resources/color/" target="_blank">Color tools</a>
      </li>
      <li>
        <a href="https://www.w3schools.com/colors/colors_converter.asp" target="_blank">Color converter</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Unit'
}
</script>

<style lang="scss" scoped>
  h2 {
    margin: 30px 0;
  }

  .hx-red {
    color: #ff0000;
  }

  .hx-green {
    color: #00ff00;
  }

  .hx-blue {
    color: #0000ff;
  }

  .gras {
    font-weight: bold;
  }
</style>
