<template>
  <section>
    <h1>Les attendus - Développement web 2 - L2S4</h1>

    <div>
      <ul>
        <li v-for="expected in expectedDisplayed" :key="expected.id">{{ expected.text }}</li>
      </ul>

      <a href="https://mathinfo.unistra.fr/formations/licence/informatique/rof/ME6/FRUAI0673021VCOEN26586/">
        Site officiel
      </a>
    </div>

    <v-btn v-if="!allDisplayed" @click="addExpected" fab color="primary" id="next__expected">
      <v-icon>skip_next</v-icon>
    </v-btn>
  </section>
</template>

<script>
export default {
  name: 'Attendus',
  data () {
    return {
      index: 0,
      expectedSaved: [
        {
          id: 1,
          text: 'Le modèle client – serveur',
          pathName: 'modelClientServer'
        },
        {
          id: 2,
          text: 'Les balises et le montage HTML',
          pathName: 'html'
        },
        {
          id: 3,
          text: 'L\'utilisation de CSS',
          pathName: null
        },
        {
          id: 4,
          text: 'Le langage Javascript, le DOM et les évènements',
          pathName: null
        },
        {
          id: 5,
          text: 'Les appels AJAX',
          pathName: null
        },
        {
          id: 6,
          text: 'Le responsive',
          pathName: null
        },
        {
          id: 7,
          text: 'Le langage PHP et l’utilisation des formulaires',
          pathName: null
        }
      ],
      expectedList: []
    }
  },
  created () {
    this.expectedList.push(this.expectedSaved[0])
  },
  computed: {
    expectedDisplayed () { return this.expectedList },
    allDisplayed () { return this.expectedList.length === this.expectedSaved.length }
  },
  methods: {
    addExpected () {
      this.index += 1
      this.expectedList.push(this.expectedSaved[this.index])
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../assets/style/general";

  section {
    display: grid;
    grid-template-columns: 1fr 100px;

    h1 {
      margin-bottom: 50px;
      grid-column: 1/3;
      @media all and (max-width: $s) {
        text-align: center;
      }
    }

    ul {
      margin-bottom: 50px;

      li {
        margin-bottom: 20px;

        @media all and (max-width: $s) {
          margin-bottom: 5px;
        }

        p, a {
          font-size: 20px;
          margin: 0;

          @media all and (max-width: $s) {
            font-size: 16px;
          }
        }
      }
    }

    #next__expected {
      @media all and (max-width: $s) {
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
    }
  }
</style>
