<template>
  <nav>
    <ul>
      <li class="list__title">Le Javascript</li>
      <router-link :to="{ name: 'js-javascript-langage' }">
        <li :class="{ 'active-section': activeRoute('js-javascript-langage') }">
          <v-icon size="50">language</v-icon>
          Le langage
        </li>
      </router-link>
      <router-link :to="{ name: 'js-javascript-ecma' }">
        <li :class="{ 'active-section': activeRoute('js-javascript-ecma') }">
          <v-icon size="50">description</v-icon>
          ECMAScript
        </li>
      </router-link>
      <router-link :to="{ name: 'js-javascript-sync' }">
        <li :class="{ 'active-section': activeRoute('js-javascript-sync') }">
          <v-icon size="50">transform</v-icon>
          Synchrone et mono-thread
        </li>
      </router-link>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'NavGeneral',
  methods: {
    activeRoute (routeName) {
      return this.$route.name === routeName
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/html/homeStyle";

  section {
    nav {
      ul {
        grid-template-columns: repeat(3, 1fr);

        li.list__title {
          grid-column: 1/4;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }
</style>
