<template>
  <nav>
    <ul>
      <li class="list__title">Généralités</li>
      <router-link :to="{ name: 'html-general-page' }">
        <li :class="{ 'active-section': activeRoute('html-general-page') }">
          <v-icon size="50">description</v-icon>
          Page HTML
        </li>
      </router-link>
      <router-link :to="{ name: 'html-general-head' }">
        <li :class="{ 'active-section': activeRoute('html-general-head') }">
          <v-icon size="50">insert_emoticon</v-icon>
          La balise "head"
        </li>
      </router-link>
      <router-link :to="{ name: 'html-general-tags' }">
        <li :class="{ 'active-section': activeRoute('html-general-tags') }">
          <v-icon size="50">code</v-icon>
          Les balises
        </li>
      </router-link>
      <router-link :to="{ name: 'html-general-attributes' }">
        <li :class="{ 'active-section': activeRoute('html-general-attributes') }">
          <v-icon size="50">text_format</v-icon>
          Les attributs
        </li>
      </router-link>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'NavGeneral',
  methods: {
    activeRoute (routeName) {
      return this.$route.name === routeName
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/html/homeStyle";

  section {
    nav {
      ul {
        grid-template-columns: repeat(4, 1fr);

        li.list__title {
          grid-column: 1/5;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }
</style>
