<template>
  <nav>
    <ul>
      <li class="list__title">Balises</li>
      <router-link :to="{ name: 'html-tags-text' }">
        <li :class="{ 'active-section': activeRoute('html-tags-text') }">
          <v-icon size="50">title</v-icon>
          Texte
        </li>
      </router-link>
      <router-link :to="{ name: 'html-tags-link' }">
        <li :class="{ 'active-section': activeRoute('html-tags-link') }">
          <v-icon size="50">link</v-icon>
          Lien
        </li>
      </router-link>
      <router-link :to="{ name: 'html-tags-list' }">
        <li :class="{ 'active-section': activeRoute('html-tags-list') }">
          <v-icon size="50">list</v-icon>
          Liste
        </li>
      </router-link>
      <router-link :to="{ name: 'html-tags-image' }">
        <li :class="{ 'active-section': activeRoute('html-tags-image') }">
          <v-icon size="50">camera_alt</v-icon>
          Image
        </li>
      </router-link>
      <router-link :to="{ name: 'html-tags-form' }">
        <li :class="{ 'active-section': activeRoute('html-tags-form') }">
          <v-icon size="50">contact_support</v-icon>
          Formulaire
        </li>
      </router-link>
      <router-link :to="{ name: 'html-tags-table' }">
        <li :class="{ 'active-section': activeRoute('html-tags-table') }">
          <v-icon size="50">table_chart</v-icon>
          Tableau
        </li>
      </router-link>
      <router-link :to="{ name: 'html-tags-audio' }">
        <li :class="{ 'active-section': activeRoute('html-tags-audio') }">
          <v-icon size="50">music_video</v-icon>
          Audio/video
        </li>
      </router-link>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'NavTags',
  methods: {
    activeRoute (routeName) {
      return this.$route.name === routeName
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/html/homeStyle";

  section {
    nav {
      ul {
        grid-template-columns: repeat(7, 1fr);

        li.list__title {
          grid-column: 1/8;
        }
      }
    }
  }
</style>
