#response__example {
  padding: 10px 60px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 30px;
  }

  ul {
    padding-left: 0;
    margin-bottom: 15px;

    li {
      list-style: none;
    }
  }

  p {
    font-size: 14px;

    &.no__body {
      font-style: italic;
    }
  }
}
