<template>
  <div class="home">
    <h1>Développement web 2 - L2</h1>
    <img src="/img/general/qrcode.png" alt="QRCode envoyant sur le site http://l2.jojotique.fr">
  </div>
</template>

<script>
export default {
  name: 'home'
}
</script>

<style lang="scss" scoped>
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      width: 100%;
      text-align: center;
    }

    img {
      width: 50%;
      margin: auto;
    }
  }
</style>
