<template>
  <div class="app__code__block">
    <div class="app__console__title" v-if="!fullScreen">
      {{ title }}
    </div>
    <div class="app__console__code" :class="{ 'app__code__fullscreen': fullScreen }">
      <div class="app__console__css__container">
        <div v-if="styleTag" class="app__css__style-tag">{{ codesFormatted.styleTagDisplay.header }}</div>
        <div v-html="codesFormatted.header"></div>
        <div v-for="(line, index) in codesFormatted.tags" :key="index" v-html="line" class="css__tags"></div>
        <div>{{ codesFormatted.footer }}</div>
        <div v-if="styleTag" class="app__css__style-tag">{{ codesFormatted.styleTagDisplay.footer }}</div>
      </div>
    </div>
    <div class="app__console__text" v-if="!fullScreen && example !== undefined" v-html="example"></div>
    <div class="app__console__text" v-if="!fullScreen && htmlExample !== undefined"><pre>{{ htmlExample }}</pre></div>
  </div>
</template>

<script>
export default {
  name: 'CodeBlockCss',
  props: {
    code: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: false
    },
    example: {
      type: String,
      required: false
    },
    htmlExample: {
      type: String,
      required: false
    },
    fullScreen: {
      type: Boolean,
      required: false,
      default: false
    },
    styleTag: {
      type: Boolean,
      required: false
    }
  },
  data () {
    return {
      codesFormatted: {
        header: '',
        tags: [],
        footer: '}',
        styleTagDisplay: {
          header: '<style>',
          footer: '</style>'
        }
      },
      tagValues: [
        'header',
        'article',
        'footer',
        'aside',
        'section',
        'nav',
        'p',
        'h1',
        'h2',
        'h3',
        'h4',
        'h5',
        'h6',
        'div',
        'span'
      ]
    }
  },
  created () {
    // Header
    let tags = this.code.trim().split(/([="|[\]^$*~+.#,-_(): a-z]+) {/)[1]
      .split(/, /)
    tags.forEach((tag, index) => {
      this.tagValues.includes(tag)
        ? tags[index] = `<span class="css__general__tag">${tag}</span>`
        : tags[index] = `<span class="css__custom__tag">${tag}</span>`
    })
    this.codesFormatted.header = tags.join(', ') + ' {'

    // Body
    const splitText = this.code.trim().split(/([a-z-]+: [-%!.a-zX-Z0-9#(), /]+;)/)
    splitText.forEach(partCss => {
      if (partCss !== '') {
        if (partCss.match(/;/)) {
          let colorSplit = partCss.split(/([a-z-]+:) ([-%!.a-zX-Z0-9#(), /]+)(;)/)

          // Gestion des couleurs
          colorSplit[2] = colorSplit[2].replace(
            /(#[a-f0-9]{6})/g,
            `<span class="css__colorName">$1</span>`
          )

          // Gestion du "important"
          colorSplit[2] = colorSplit[2].replace(
            /(!important)/g,
            `<span class="css__value__important">$1</span>`
          )

          // Gestion des chiffres
          colorSplit[2] = colorSplit[2].replace(
            /([0-9.]+)/g,
            `<span class="css__number">$1</span>`
          )

          this.codesFormatted.tags.push(
            `<span class="css__property">${colorSplit[1]}</span> <span class="css__value">${colorSplit[2]}</span><span class="css__semicolon">;</span>`
          )
        }
      }
    })
  }
}
</script>

<style lang="scss" scoped>
  @import "../../assets/style/console";

  p {
    background-color: #f0f0f0;
  }
</style>
