<template>
  <div class="app__code__block" :class="{ 'app__container__fullscreen': fullScreen }">
    <div class="app__console__title" v-if="!fullScreen">{{ title }}</div>
    <div class="app__console__code" :class="{ 'app__code__fullscreen': fullScreen }">
      <div v-if="codesFormatted.multiLine" class="app__code__multiline">
        <span v-for="(codeFormatted, index) in codesFormatted.tags" :key="index"
              :class="{
                    'tag__formatted': codeFormatted.type === 'tag',
                    'attribute__formatted': codeFormatted.type === 'attribute',
                    'attributeValue__formatted': codeFormatted.type === 'attributeValue',
                    'comment__formatted': codeFormatted.type === 'comment'
                    }"
        ><span v-if="codeFormatted.type === 'breakLine'"><br/><span v-for="number in codeFormatted.tabNumber" :key="number">&emsp;&emsp;</span></span>
        <span v-else>{{ codeFormatted.text }}</span>
        </span>
      </div>
      <div v-else>
        <span v-for="(codeFormatted, index) in codesFormatted.tags" :key="index"
              :class="{
            'tag__formatted': codeFormatted.type === 'tag',
            'attribute__formatted': codeFormatted.type === 'attribute',
            'attributeValue__formatted': codeFormatted.type === 'attributeValue',
            'comment__formatted': codeFormatted.type === 'comment'
            }"
        >{{ codeFormatted.text }}</span>
      </div>
    </div>
    <div v-if="example && !fullScreen" v-html="example" class="app__console__text"></div>
  </div>
</template>

<script>
export default {
  name: 'CodeBlock',
  props: {
    title: {
      required: false,
      type: String
    },
    code: {
      required: true,
      type: String
    },
    example: {
      required: false,
      type: String
    },
    fullScreen: {
      required: false,
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      codesFormatted: {
        multiLine: false,
        tags: []
      }
    }
  },
  created () {
    const text = this.recodeHTML(this.code)
    const splitText = text.trim().split(/(<\/?[ ?!\-="._:;/#a-zA-Z0-9%]*\/?>)/)
    splitText.forEach(partText => {
      if (partText !== '') {
        // Colore les commentaires
        if (partText[0] === '<' && partText[1] === '!' && partText[2] === '-') {
          this.codesFormatted.tags.push({
            text: partText,
            type: 'comment'
          })
          // Crée les saut de ligne et les tabulations
        } else if (partText.match(/\n/)) {
          // Indique que c'est un multi-ligne
          this.codesFormatted.multiLine = true

          // Divise sur le retour à la ligne
          let textBreakLine = partText.split('\n')

          // Gère si les retour à la ligne sont au milieu du texte.
          if (textBreakLine.length > 2) {
            // Re-découpage pour garder les sauts de ligne dans le tableau de retour
            textBreakLine = partText.split(/(\n)/)

            textBreakLine.forEach(text => {
              if (text !== '') {
                // Si c'est un saut de ligne
                if (text.match(/\n/)) {
                  this.codesFormatted.tags.push({
                    tabNumber: 0,
                    type: 'breakLine'
                  })
                  // Sinon c'est un texte ou une tabulation
                } else {
                  let breakAndText = text.split(/(\t)/)

                  // Si le tableau n'est que d'une ligne c'est que c'est un texte
                  if (breakAndText.length === 1) {
                    if (breakAndText[0] !== '') {
                      this.codesFormatted.tags.push({
                        text: breakAndText[0],
                        type: 'text'
                      })
                    }
                    // Sinon c'est qu'il y a au moins une tabulation
                  } else {
                    breakAndText.forEach(breakOrText => {
                      if (breakOrText !== '') {
                        // Si l'élément est une tabulation
                        if (breakOrText.match(/\t/) !== null) {
                          let lastEnter = this.codesFormatted.tags[this.codesFormatted.tags.length - 1]
                          if (lastEnter.type === 'breakLine') {
                            lastEnter.tabNumber += 1
                          } else {
                            this.codesFormatted.tags.push({
                              tabNumber: breakOrText.match(/\t/) ? breakOrText.match(/[\t]+/).length : null,
                              type: 'breakLine'
                            })
                          }
                          // Sinon ajoute le texte
                        } else {
                          this.codesFormatted.tags.push({
                            text: breakOrText,
                            type: 'text'
                          })
                        }
                      }
                    })
                  }
                }
              }
            })
            // ...ou si c'est entre deux balises
          } else {
            this.codesFormatted.tags.push({
              tabNumber: partText.match(/\t/) ? partText.match(/[\t]+/)[0].length : null,
              type: 'breakLine'
            })
          }
        } else {
          // Utilise la regex pour séparer les attributs du reste de la balise
          partText = partText.split(/([\w-]+=")([-_.?,=:;%/#a-zA-Z0-9ùéè' ]+)(")/)

          // Entre s'il n'y a pas d'attribut
          if (partText.length === 1) {
            this.codesFormatted.tags.push({
              text: partText[0],
              type: partText[0][0] === '<' ? 'tag' : 'text'
            })
            // Sinon color différemment la balise, le nom de l'attribut et la valeur de l'attribut
          } else {
            partText.forEach(partText2 => {
              this.codesFormatted.tags.push({
                text: partText2,
                type: partText2[0] === '<' || partText2[0] === '>' || (partText2[0] === '/' && partText2[1] === '>')
                  ? 'tag'
                  : partText2[0] === '"' || partText2[partText2.length - 1] === '"'
                    ? 'attribute'
                    : 'attributeValue'
              })
            })
          }
        }
      }
    })
  },
  methods: {
    recodeHTML (str) {
      str = str.replace(/%2F/g, '/')
      str = str.replace(/%3C/g, '<')
      return str.replace(/%3E/g, '>')
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/style/console";

.app__code__block::v-deep {
  *:not(.app__console__code) {
    margin: 0 !important;
  }

  p {
    font-size: 16px;
  }

  h1 {
    font-size: 2em;
  }

  img {
    width: 80%;
  }

  input, textarea {
    border: 2px solid rgb(200, 200, 200);
  }

  button {
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom, rgb(248, 248, 248), rgb(221, 221, 221));
    border: 2px solid rgb(221, 221, 221);
    padding: 1px 6px;
    -webkit-appearance: button;
  }

  fieldset {
    padding-left: 5px;
  }

  select {
    -webkit-appearance: menulist;
    background-color: white;
    color: black;
    border: 1px solid rgb(169, 169, 169);
    cursor: pointer;
  }

  table {
    border-collapse: collapse;

    tr {
      td, th {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
      }
    }
  }
}
</style>
