<template>
  <div>
    <code-block title="<table> <tr> <td>" :code="table" :example="table"/>
    <code-block title="<thead> <tbody> <th>" :code="thead" :example="thead"/>
    <code-block title="<tfoot>" :code="tfoot" :example="tfoot"/>
    <code-block title="<caption>" :code="caption" :example="caption"/>
  </div>
</template>

<script>
export default {
  name: 'Table',
  data () {
    return {
      table:
        `<table>
\t<tr>
\t\t<td>John Doe</td>
\t\t<td>30</td>
\t\t<td>67000</td>
\t</tr>
</table>`,
      thead:
        `<table>
<thead>
\t<tr>
\t\t<th scope="col">Nom</th>
\t\t<th scope="col">Âge</th>
\t\t<th scope="col">CP</th>
\t</tr>
</thead>
<tbody>
\t<tr>
\t\t<td>John Doe</td>
\t\t<td>30</td>
\t\t<td>67000</td>
\t</tr>
\t<tr>
\t\t<td>Jane Doe</td>
\t\t<td>38</td>
\t\t<td>67200</td>
\t</tr>
</tbody>
</table>`,
      tfoot:
        `<table>
<thead>
\t<tr>
\t\t<th scope="col">Code produit</th>
\t\t<th scope="col">Produit</th>
\t\t<th scope="col">Prix</th>
\t</tr>
</thead>
<tbody>
\t<tr>
\t\t<th scope="row">5478</th>
\t\t<td>Big Mac</td>
\t\t<td>8€</td>
\t</tr>
\t<tr>
\t\t<th scope="row">7541</th>
\t\t<td>Double Cheese</td>
\t\t<td>4€</td>
\t</tr>
\t<tr>
\t\t<th scope="row">3512</th>
\t\t<td>Burger</td>
\t\t<td>2€</td>
\t</tr>
</tbody>
<tfoot>
\t<tr>
\t\t<th scope="row" colspan="2">Prix total</th>
\t\t<td>14€</td>
\t</tr>
</tfoot>
</table>`,
      caption:
        `<table>
<caption>Utilisateurs</caption>
<thead>
\t<tr>
\t\t<th scope="col">Nom</th>
\t\t<th scope="col">Âge</th>
\t\t<th scope="col">CP</th>
\t</tr>
</thead>
<tbody>
\t<tr>
\t\t<td>John Doe</td>
\t\t<td>30</td>
\t\t<td>67000</td>
\t</tr>
\t<tr>
\t\t<td>Jane Doe</td>
\t\t<td>38</td>
\t\t<td>67200</td>
\t</tr>
</tbody>
</table>`
    }
  }
}
</script>
