<template>
  <div id="app__text__content">
    <code-block title="<p>" :code="paragraph" :example="paragraph"/>
    <code-block title="<br/>" :code="lineBreak" :example="lineBreak"/>
    <code-block title="<h1>" :code="title1" :example="title1"/>
    <code-block title="<h2>" :code="title2" :example="title2"/>
    <code-block title="<h3>" :code="title3" :example="title3"/>
    <code-block title="<h4>" :code="title4" :example="title4"/>
    <code-block title="<h5>" :code="title5" :example="title5"/>
    <code-block title="<h6>" :code="title6" :example="title6"/>
    <code-block title="<strong>" :code="emphasis1" :example="emphasis1"/>
    <code-block title="<em>" :code="emphasis2" :example="emphasis2"/>
    <code-block title="<mark>" :code="emphasis3" :example="emphasis3"/>
    <code-block title="<pre>" :code="prepare" :example="prepare"/>
    <code-block title="<sup>" :code="sub" :example="sub"/>
    <code-block title="<sub>" :code="sup" :example="sup"/>
  </div>
</template>

<script>
export default {
  name: 'TextPage',
  data () {
    return {
      paragraph: '<p>Je suis un paragraphe</p>',
      lineBreak: '<p>Je suis un<br/>saut de ligne</p>',
      title1: '<h1>Je suis un titre de niveau 1</h1>',
      title2: '<h2>Je suis un titre de niveau 2</h2>',
      title3: '<h3>Je suis un titre de niveau 3</h3>',
      title4: '<h4>Je suis un titre de niveau 4</h4>',
      title5: '<h5>Je suis un titre de niveau 5</h5>',
      title6: '<h6>Je suis un titre de niveau 6</h6>',
      emphasis1: '<strong>Mise en valeur forte</strong>',
      emphasis2: '<em>Mise en valeur normale</em>',
      emphasis3: '<mark>Mise en valeur visuelle</mark>',
      prepare: '<pre>{ name: \'JohnDoe\' }</pre>',
      sub: '<p>Salon = 34m<sup>2</sup></p>',
      sup: '<p>Dioxygène : O<sub>2</sub></p>'
    }
  }
}
</script>
