.v-sheet {
  section {
    display: flex;
    flex-direction: column;
    height: 100%;

    h1 {
      text-align: center;
      font-size: 40px;
      background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7));
    }

    article {
      flex: 1;
      display: grid;
      grid-template-columns: 1fr 2fr;

      .response__rows {
        display: flex;
        flex-direction: column;
        border-right: 2px white dashed;

        .response__row {
          display: grid;
          flex: 1;
          align-items: center;
          grid-template-columns: repeat(2, 1fr);
          padding: 0 30px;

          &:not(:last-child) {
            border-bottom: 2px white dashed;
          }

          a {
            color: white;
            text-decoration: none;
          }

          p {
            margin: 10px 0;
            text-align: center;
            font-weight: bold;

            &.paragraph__link {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
