<template>
  <v-sheet
    :color="color"
    height="100%"
    tile
  >
    <section>
      <h1>3XX - Redirection</h1>

      <article>
        <div class="response__rows">
          <div class="response__row">
            <p @click.stop="onChangeComponent('301')" class="paragraph__link">301</p>
            <p>Moved Permanently</p>
          </div>
          <div class="response__row">
            <p @click.stop="onChangeComponent('302')" class="paragraph__link">302</p>
            <p>Found</p>
          </div>
          <div class="response__row">
            <p @click.stop="onChangeComponent('304')" class="paragraph__link">304</p>
            <p>Not Modified</p>
          </div>
        </div>
        <http-cat :image="getImage" :status-code="statusCode"/>
      </article>
    </section>
  </v-sheet>
</template>

<script>
import ResponseMixin from '@/components/ModelClientServer/ClientServer/ResponseMixin'
import httpCat from '@/components/ModelClientServer/ClientServer/Response/httpCat'

export default {
  name: 'Response300',
  mixins: [ResponseMixin],
  components: { httpCat }
}
</script>

<style lang="scss" scoped>
@import "styleResponse";
</style>
