<template>
  <v-sheet
    :color="color"
    height="100%"
    tile
  >
    <section>
      <h1>1XX - Information</h1>

      <article>
        <div class="response__rows">
          <div class="response__row">
            <p @click="onChangeComponent('100')" class="paragraph__link">100</p>
            <p>Continue</p>
          </div>
        </div>
        <http-cat :image="getImage" :status-code="statusCode"/>
      </article>
    </section>
  </v-sheet>
</template>

<script>
import ResponseMixin from '@/components/ModelClientServer/ClientServer/ResponseMixin'
import httpCat from '@/components/ModelClientServer/ClientServer/Response/httpCat'

export default {
  name: 'Response100',
  mixins: [ResponseMixin],
  components: { httpCat }
}
</script>

<style lang="scss" scoped>
  @import "styleResponse";
</style>
