<template>
  <div>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-header>Transformations 2D</v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="app__anim__container">
            <img src="/img/css/road.jpeg"
                 alt="Humour, deux policiers portent un panneau où il est écrit error 404 road not found"
                 id="img__rotate"
            />
            <code-block-css :code="rotate" :full-screen="true"/>
          </div>

          <div class="app__anim__container">
            <img src="/img/css/road.jpeg"
                 alt="Humour, deux policiers portent un panneau où il est écrit error 404 road not found"
                 id="img__rotate__origin"
            />
            <code-block-css :code="rotateOrigin" :full-screen="true"/>
          </div>

          <div class="app__anim__container">
            <img src="/img/css/road.jpeg"
                 alt="Humour, deux policiers portent un panneau où il est écrit error 404 road not found"
                 id="img__scale"
            />
            <code-block-css :code="scale" :full-screen="true"/>
          </div>

          <div class="app__anim__container">
            <img src="/img/css/road.jpeg"
                 alt="Humour, deux policiers portent un panneau où il est écrit error 404 road not found"
                 id="img__scale__min"
            />
            <code-block-css :code="scaleMini" :full-screen="true"/>
          </div>

          <div class="app__anim__container">
            <img src="/img/css/road.jpeg"
                 alt="Humour, deux policiers portent un panneau où il est écrit error 404 road not found"
                 id="img__scale__xy"
            />
            <div>
              <code-block-css :code="scaleXY1" :full-screen="true"/>
              <code-block-css :code="scaleXY2" :full-screen="true"/>
            </div>
          </div>

          <div class="app__anim__container">
            <img src="/img/css/road.jpeg"
                 alt="Humour, deux policiers portent un panneau où il est écrit error 404 road not found"
                 id="img__translate"
            />
            <div>
              <code-block-css :code="translate1" :full-screen="true"/>
              <code-block-css :code="translate2" :full-screen="true"/>
            </div>
          </div>

          <div class="app__anim__container">
            <img src="/img/css/road.jpeg"
                 alt="Humour, deux policiers portent un panneau où il est écrit error 404 road not found"
                 id="img__skew"
            />
            <div>
              <code-block-css :code="skew1" :full-screen="true"/>
              <code-block-css :code="skew2" :full-screen="true"/>
            </div>
          </div>

          <div class="app__anim__container">
            <img src="/img/css/road.jpeg"
                 alt="Humour, deux policiers portent un panneau où il est écrit error 404 road not found"
                 id="img__association1"
            />
            <div>
              <code-block-css :code="association1" :full-screen="true"/>
            </div>
          </div>

          <div class="app__anim__container">
            <img src="/img/css/road.jpeg"
                 alt="Humour, deux policiers portent un panneau où il est écrit error 404 road not found"
                 id="img__association2"
            />
            <div>
              <code-block-css :code="association2" :full-screen="true"/>
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Transformations 3D</v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="app__anim__container">
            <div id="img__translate__3d">
              <img src="/img/css/road.jpeg"
                   alt="Humour, deux policiers portent un panneau où il est écrit error 404 road not found"
                   id="img__translate__3d1"
              />
              <img src="/img/css/road.jpeg"
                   alt="Humour, deux policiers portent un panneau où il est écrit error 404 road not found"
                   id="img__translate__3d2"
              />
            </div>
            <div>
              <code-block-css :code="translate3dParent" :full-screen="true"/>
              <code-block-css :code="translate3dChild1" :full-screen="true"/>
              <code-block-css :code="translate3dChild2" :full-screen="true"/>
            </div>
          </div>

          <div class="app__anim__container">
            <div id="img__rotate__3d">
              <img src="/img/css/road.jpeg"
                   alt="Humour, deux policiers portent un panneau où il est écrit error 404 road not found"
                   id="img__rotate__3d1"
              />
              <img src="/img/css/road.jpeg"
                   alt="Humour, deux policiers portent un panneau où il est écrit error 404 road not found"
                   id="img__rotate__3d2"
              />
            </div>
            <div>
              <code-block-css :code="rotate3dParent" :full-screen="true"/>
              <code-block-css :code="rotate3dChild1" :full-screen="true"/>
              <code-block-css :code="rotate3dChild2" :full-screen="true"/>
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Transitions - animation</v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="app__transition__container">
            <div id="app__transition__color"></div>
            <div>
              <code-block-css :code="transition1" :full-screen="true"/>
              <code-block-css :code="transition2" :full-screen="true"/>
            </div>
          </div>
          <div class="app__transition__container">
            <div id="app__animation">
              <div>hover</div>
              <div></div>
            </div>
            <div id="app__animation__code">
              <pre>
@keyframes css__animation {
  0% {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #ff0000;
  }

  50% {
    height: 100px;
    width: 500px;
    background-color: #00ff00;
    border-radius: 0;
    transform: translateX(150px) rotate(360deg);
  }

  100% {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #0000ff;
    transform: translateX(500px) translateY(150px);
  }
}
              </pre>
              <pre>
div:first-child {
  height: 50px;
  width: 50px;
  font-weight: bold;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

div + div {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #ff0000;
  animation-fill-mode: forwards;
}

div:hover + div {
  animation-name: css__animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
              </pre>
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
export default {
  name: 'Animation',
  data () {
    return {
      rotate: `img {
      transform: rotate(10deg);
      }`,
      rotateOrigin: `img {
      transform-origin: 0 0;
      transform: rotate(20deg);
      }`,
      scale: `img {
      transform: scale(1.5);
      }`,
      scaleMini: `img {
      transform: scale(0.8);
      }`,
      scaleXY1: `img {
      transform: scale(0.8, 1.3);
      }`,
      scaleXY2: `img {
      transform: scaleX(0.8);
      transform: scaleY(1.3);
      }`,
      translate1: `img {
      transform: translate(100px, 20px);
      }`,
      translate2: `img {
      transform: translateX(100px);
      transform: translateY(20px);
      }`,
      skew1: `img {
      transform: skew(10deg, 20deg);
      }`,
      skew2: `img {
      transform: skewX(10deg);
      transform: skewY(20deg);
      }`,
      association1: `img {
      transform: rotate(40deg) translateX(80px) scaleY(0.7);
      }`,
      association2: `img {
      transform: translateX(80px) scaleY(0.7) rotate(40deg);
      }`,
      translate3dParent: `div {
      perspective-origin: top left;
      perspective: 1000px;
      position: relative;
      }`,
      translate3dChild1: `img1 {
      transform: translate3d(30px, 30px, 0);
      position: absolute;
      }`,
      translate3dChild2: `img2 {
      transform: translate3d(30px, 30px, 200px);
      position: absolute;
      }`,
      rotate3dParent: `div {
      perspective-origin: center top;
      perspective: 1000px;
      position: relative;
      }`,
      rotate3dChild1: `img1 {
        transform: rotate3d(1, 0.6, 0, 60deg);
        margin: auto;
      }`,
      rotate3dChild2: `img2 {
        transform: rotate3d(1, 0.6, 1, 60deg);
        margin: auto;
      }`,
      transition1: `div {
      width: 300px;
      height: 200px;
      background-color: #ff0000;
      transition: background-color 500ms, transform 500ms, border-radius 500ms;
      }`,
      transition2: `div:hover {
      background-color: #00ff00;
      transform: rotate(10deg);
      border-radius: 20px;
      }`
    }
  }
}
</script>

<style lang="scss" scoped>
  .app__anim__container {
    padding: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 350px 1fr;
    min-height: 350px;

    #img__rotate {
      transform: rotate(20deg);
      margin: auto;
    }

    #img__rotate__origin {
      transform-origin: 0 0;
      transform: rotate(20deg);
      margin: auto;
    }

    #img__scale {
      transform: scale(1.5);
      margin: auto;
    }

    #img__scale__min {
      transform: scale(0.8);
      margin: auto;
    }

    #img__scale__xy {
      transform: scale(0.8, 1.3);
      margin: auto;
    }

    #img__translate {
      transform: translate(100px, 20px);
      margin: auto;
    }

    #img__skew {
      transform: skew(10deg);
      margin: auto;
    }

    #img__association1 {
      transform: rotate(40deg) translateX(80px) scaleY(0.7);
      margin: auto;
    }

    #img__association2 {
      transform: translateX(80px) scaleY(0.7) rotate(40deg);
      margin: auto;
    }

    #img__translate__3d {
      perspective-origin: top left;
      perspective: 1000px;
      position: relative;

      #img__translate__3d1 {
        transform: translate3d(30px, 30px, 0);
        margin: auto;
        position: absolute;
      }

      #img__translate__3d2 {
        transform: translate3d(30px, 30px, 200px);
        margin: auto;
        position: absolute;
      }
    }

    #img__rotate__3d {
      perspective-origin: center top;
      perspective: 1000px;
      position: relative;

      #img__rotate__3d1 {
        transform: rotate3d(1, 0.6, 0, 60deg);
        margin: auto;
      }

      #img__rotate__3d2 {
        transform: rotate3d(1, 0.6, 1, 60deg);
        margin: auto;
      }
    }
  }

  .app__transition__container {
    padding: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 350px 1fr;

    #app__transition__color {
      width: 300px;
      height: 200px;
      background-color: #ff0000;
      transition: background-color 500ms, transform 500ms, border-radius 500ms;

      &:hover {
        background-color: #00ff00;
        transform: rotate(10deg);
        border-radius: 20px;
      }
    }

    @keyframes css__animation {
      0% {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: #ff0000;
      }

      50% {
        height: 100px;
        width: 500px;
        background-color: #00ff00;
        border-radius: 0;
        transform: translateX(150px) rotate(360deg);
      }

      to {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        background-color: #0000ff;
        transform: translateX(500px) translateY(150px);
      }
    }

    #app__animation {
      grid-column: 1/3;
      height: 400px;

      div:first-child {
        height: 50px;
        width: 50px;
        font-weight: bold;
        background-color: #000000;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
      }

      div + div {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: #ff0000;
        animation-fill-mode: forwards;
      }

      div:hover + div {
        animation-name: css__animation;
        animation-duration: 2s;
        animation-fill-mode: forwards;
      }
    }

    #app__animation__code {
      grid-column: 1/3;

      pre {
        display: inline-block;
      }
    }
  }
</style>
