<template>
<div>
  <code-block-css :code="desktop" :full-screen="true"/>
  <code-block-css :code="tablet" :full-screen="true"/>
  <code-block-css :code="smartphone" :full-screen="true"/>

  <div id="app__media-queries__css">
    <div>Card 1</div>
    <div>Card 2</div>
    <div>Card 3</div>
    <div>Card 4</div>
    <div>Card 5</div>
    <div>Card 6</div>
    <div>Card 7</div>
    <div>Card 8</div>
  </div>
</div>
</template>

<script>
export default {
  name: 'MediaQueries',
  data () {
    return {
      desktop: `@media all and (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
      }`,
      tablet: `@media all and (min-width: 992px) and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
      }`,
      smartphone: `@media all and (min-width: 768px) and (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      }`
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/general";

  #app__media-queries__css {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    @media screen and (min-width: $m) and (max-width: $l) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: $s) and (max-width: $m) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $s) {
      grid-template-columns: 1fr;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      border: 1px solid black;
    }
  }
</style>
