<template>
  <div>
    <h1>Sass</h1>

    <p>Avantages de Sass</p>
    <ul>
      <li>Mixin</li>
      <li>Variables</li>
      <li>Imbrication</li>
    </ul>

    <p class="app__ressources">Ressources :</p>
    <ul class="app__ressources">
      <li>
        <a href="https://www.youtube.com/watch?v=aOccUzHD_MQ&list=PLjwdMgw5TTLWVp8WUGheSrGnmEWIMk9H6/" target="_blank">
          Formation Sass - Grafikart
        </a>
      </li>
      <li>
        <a href="https://sass-lang.com/documentation" target="_blank">Sass - Documentation</a>
      </li>
      <li>
        <a href="https://www.alsacreations.com/article/lire/1717-les-preprocesseurs-css-c-est-sensass.html"
           target="_blank">
          Les préprocesseurs CSS, c’est senSass !
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Sass'
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/ressources";
  h1 {
    font-size: 2em;
    margin: 30px 0;
  }
</style>
