<template>
  <div id="app__text__content">
    <h2>Balises structurantes</h2>
    <code-block title="<header>" :code="header" :example="header"/>
    <code-block title="<nav>" :code="nav" :example="nav"/>
    <code-block title="<section>" :code="section" :example="section"/>
    <code-block title="<article>" :code="article" :example="article"/>
    <code-block title="<aside>" :code="aside" :example="aside"/>
    <code-block title="<footer>" :code="footer" :example="footer"/>
    <h2>Balises neutres</h2>
    <code-block title="<span>" :code="span" :example="span"/>
    <code-block title="<div>" :code="div" :example="div"/>
  </div>
</template>

<script>
export default {
  name: 'Structure',
  data () {
    return {
      header: '<header>En-tête</header>',
      nav: '<nav>Navigation</nav>',
      section: '<section>Unité homogène</section>',
      article: '<article>Unité d\'un article</article>',
      aside: '<aside>Unité complémentaire</aside>',
      footer: '<footer>Pied de page</footer>',
      span: '<span>Balise neutre de type inline</span>',
      div: '<div>Balise neutre de type block</div>'
    }
  }
}
</script>
