<template>
  <section>
    <div class="DOM__test">
      <div class="DOM__test__container">
        <h1>DOM d'essai</h1>

        <p>Ceci est un DOM de test</p>

        <p>Il permet de tester les accès au DOM</p>

        <ul id="main__list">
          <li class="list__element">getElementById</li>
          <li class="list__element">getElementsByClassName</li>
          <li class="list__element">getElementsByName</li>
          <li class="list__element">getElementsByTagName</li>
          <li class="list__element">querySelector</li>
          <li class="list__element">querySelectorAll</li>
        </ul>

        <form id="main__form">
          <label for="firstName">Prénom</label>
          <input type="text" id="firstName" name="firstName"/>
          <label for="lastName">Nom</label>
          <input type="text" id="lastName" name="lastName"/>
        </form>
      </div>
    </div>

    <pre v-highlight class="language-javascript">
      <code>{{ selectorGetElementById }}</code>
    </pre>

    <v-btn @click="selectorGetElementByIdTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ selectorGetElementsByClassName }}</code>
    </pre>

    <v-btn @click="selectorGetElementsByClassNameTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ selectorGetElementsByName }}</code>
    </pre>

    <v-btn @click="selectorGetElementsByNameTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ selectorGetElementsByTagName }}</code>
    </pre>

    <v-btn @click="selectorGetElementsByTagNameTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ selectorQuerySelector }}</code>
    </pre>

    <v-btn @click="selectorQuerySelectorTest">Essai</v-btn>

    <pre v-highlight class="language-javascript">
      <code>{{ selectorQuerySelectorAll }}</code>
    </pre>

    <v-btn @click="selectorQuerySelectorAllTest">Essai</v-btn>
  </section>
</template>

<script>
export default {
  name: 'Access',
  data () {
    return {
      selectorGetElementById: 'console.log(document.getElementById(\'main__list\'))',
      selectorGetElementsByClassName: 'console.log(document.getElementsByClassName(\'list__element\'))',
      selectorGetElementsByName: 'console.log(document.getElementsByName(\'firstName\'))',
      selectorGetElementsByTagName: 'console.log(document.getElementsByTagName(\'label\'))',
      selectorQuerySelector: 'console.log(document.querySelector(\'#main__list #list__element\'))',
      selectorQuerySelectorAll: 'console.log(document.querySelectorAll(\'#main__list #list__element\'))'
    }
  },
  methods: {
    selectorGetElementByIdTest () {
      console.log(document.getElementById('main__list'))
    },
    selectorGetElementsByClassNameTest () {
      console.log(document.getElementsByClassName('list__element'))
    },
    selectorGetElementsByNameTest () {
      console.log(document.getElementsByName('firstName'))
    },
    selectorGetElementsByTagNameTest () {
      console.log(document.getElementsByTagName('label'))
    },
    selectorQuerySelectorTest () {
      console.log(document.querySelector('#main__list .list__element'))
    },
    selectorQuerySelectorAllTest () {
      console.log(document.querySelectorAll('#main__list .list__element'))
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "style";

  .DOM__test {
    grid-row: 1/13;
    grid-column: 2/3;
  }
</style>
