svg {
  g.svg__group {
    cursor: pointer;

    .svg__button__dark {
      fill: rgba(77, 77, 77);
      stroke: rgba(105, 105, 105);

      &.svg__active {
        fill: rgba(105, 105, 105);
      }
    }

    &:hover .svg__button__dark {
      fill: rgba(105, 105, 105);
    }

    .svg__button__light {
      fill: rgba(88, 88, 88);
      stroke: rgba(110, 110, 110);

      &.svg__active {
        fill: rgba(110, 110, 110);
      }
    }

    &:hover .svg__button__light {
      fill: rgba(110, 110, 110);
    }

    .svg__button__center {
      fill: rgba(99, 99, 99);
      stroke: rgba(120, 120, 120);

      &.svg__active {
        fill: rgba(120, 120, 120);
      }
    }

    &:hover .svg__button__center {
      fill: rgba(120, 120, 120);
    }
  }

  .svg__symbol{
    fill: rgb(250, 250, 250);
    font-weight: bold;
  }
}
