<template>
  <div id="css__app__component">
    <svg-direction @change-direction="onChangeDirection1"/>
    <border-comp :type="typeBorder1"/>
  </div>
</template>

<script>
import svgMixin from '@/components/CSS/Test/svgMixin'

export default {
  name: 'BorderCss',
  mixins: [svgMixin],
  components: {
    borderComp: () => import('@/components/CSS/Test/Border/Border'),
    SvgDirection: () => import('@/components/CSS/Test/SVGDirection')
  }
}
</script>
