<template>
  <div id="css__app__component">
    <v-slider min="-20" max="20" step="1" thumb-label="always" label="x" v-model="position.x"/>
    <v-slider min="-20" max="20" step="1" thumb-label="always" label="y" v-model="position.y"/>
    <v-slider min="0" max="25" step="1" thumb-label="always" label="blur" v-model="blur"/>
    <v-slider min="-25" max="25" step="1" thumb-label="always" label="spread" v-model="spread"/>
    <v-color-picker v-model="colorSelected"/>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'BoxShadowCss',
  data () {
    return {
      position: {
        x: 0,
        y: 0
      },
      blur: 0,
      spread: 0,
      colorSelected: '#000000'
    }
  },
  watch: {
    'position.x' () { this.setValueLocal() },
    'position.y' () { this.setValueLocal() },
    blur () { this.setValueLocal() },
    spread () { this.setValueLocal() },
    colorSelected () { this.setValueLocal() }
  },
  methods: {
    ...mapActions('Css', [
      'setValue'
    ]),
    setValueLocal () {
      this.setValue({
        valueName: 'boxShadow',
        val: `${this.colorSelected} ${this.position.x}px ${this.position.y}px ${this.blur}px ${this.spread}px`
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "style";
</style>
