<template>
  <div id="css__app__component">
    <v-radio-group v-model="cursorSelected">
      <v-radio v-for="cursor in cursorValues" :key="cursor" :value="cursor">
        <template v-slot:label>
          <span :style="{ 'cursor': cursor }">{{ cursor }}</span>
        </template>
      </v-radio>
    </v-radio-group>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'CursorCss',
  data () {
    return {
      cursorSelected: 'text',
      cursorValues: [
        'default',
        'context-menu',
        'help',
        'pointer',
        'progress',
        'wait',
        'cell',
        'crosshair',
        'text',
        'vertical-text',
        'alias',
        'copy',
        'move',
        'no-drop',
        'grab',
        'grabbing',
        'not-allowed',
        'all-scroll',
        'col-resize',
        'row-resize',
        'n-resize',
        'e-resize',
        's-resize',
        'w-resize',
        'ne-resize',
        'nw-resize',
        'se-resize',
        'sw-resize',
        'ew-resize',
        'ns-resize',
        'nesw-resize',
        'nwse-resize',
        'zoom-in',
        'zoom-out'
      ]
    }
  },
  watch: {
    cursorSelected () {
      this.setValue({
        valueName: 'cursor',
        val: this.cursorSelected
      })
    }
  },
  methods: {
    ...mapActions('Css', [
      'setValue'
    ])
  }
}
</script>

<style lang="scss" scoped>
  @import "style";
</style>
