<template>
  <div id="css__app__component">
    <v-slider min="0" max="1" step="0.1" thumb-label="always" v-model="opacity" label="opacity"/>
    <v-switch v-model="borderRadius.type" :label="borderRadiusLabel"/>
    <v-slider min="0"
              max="20"
              step="1"
              thumb-label="always"
              v-model="borderRadius.valuePX"
              label="border-radius"
              v-if="borderRadius.type"
    />
    <v-slider min="0"
              max="50"
              step="1"
              thumb-label="always"
              v-model="borderRadius.valuePC"
              label="border-radius"
              v-else
    />
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'GeneralCss',
  data () {
    return {
      opacity: 1,
      borderRadius: {
        type: true,
        valuePX: 0,
        valuePC: 0
      }
    }
  },
  computed: {
    borderRadiusLabel () {
      return this.borderRadius.type ? 'px' : '%'
    }
  },
  watch: {
    opacity () {
      this.setValue({
        valueName: 'opacity',
        val: this.opacity
      })
    },
    'borderRadius.valuePX' () {
      this.setValue({
        valueName: 'borderRadius',
        val: this.borderRadius.valuePX + 'px'
      })
    },
    'borderRadius.valuePC' () {
      this.setValue({
        valueName: 'borderRadius',
        val: this.borderRadius.valuePC + '%'
      })
    }
  },
  methods: {
    ...mapActions('Css', [
      'setValue'
    ])
  }
}
</script>

<style lang="scss" scoped>
  @import "style";
</style>
