<template>
  <div>
    <svg>
      <g>
        <g class="svg__group" @click="onClick('Top')">
          <path d="m0,0 h150 l-35,35 h-80 l-35,-35z"
                class="svg__button__light"
                :class="{ 'svg__active': typeBorder === 'Top' }"
          ></path>
          <path d="m60,25 h3 l12,-12 l12,12 h3 l-15,-15 l-15,15z" class="svg__symbol" fill="url(#arrowT)"></path>
        </g>
        <g class="svg__group" @click="onClick('Left')">
          <path d="m0,0 v100 l35,-35 v-30 l-35,-35z"
                class="svg__button__light"
                :class="{ 'svg__active': typeBorder === 'Left' }"
          ></path>
          <path d="m25,35 v3 l-12,12 l12,12 v3 l-15,-15 l15,-15z" class="svg__symbol"></path>
        </g>
        <g class="svg__group" @click="onClick('All')">
          <path d="m35,35 h80 v30 h-80z"
                class="svg__button__center"
                :class="{ 'svg__active': typeBorder === 'All' }"
          ></path>
          <text x="58" y="55" class="svg__symbol">Tout</text>
        </g>
        <g class="svg__group" @click="onClick('Bottom')">
          <path d="m0,100 h150 l-35,-35 h-80 l-35,35z"
                class="svg__button__dark"
                :class="{ 'svg__active': typeBorder === 'Bottom' }"
          ></path>
          <path d="m60,75 h3 l12,12 l12,-12 h3 l-15,15 l-15,-15z" class="svg__symbol"></path>
        </g>
        <g class="svg__group" @click="onClick('Right')">
          <path d="m150,0 v100 l-35,-35 v-30 l35,-35z"
                class="svg__button__dark"
                :class="{ 'svg__active': typeBorder === 'Right' }"
          ></path>
          <path d="m125,35 v3 l12,12 l-12,12 v3 l15,-15 l-15,-15z" class="svg__symbol"></path>
        </g>
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'SVGDirection',
  data () {
    return {
      typeBorder: 'All'
    }
  },
  methods: {
    onClick (direction) {
      this.typeBorder = direction
      this.$emit('change-direction', direction)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "svg";
</style>
