<template>
  <section>
    <aside>
      <div>
        <span class="request__verb">GET</span>&#160;
        <span class="request__url">/articles/{{ $route.params.id }}</span>&#160;
        <span class="request__version">HTTP/1.1</span>
      </div>
      <div>
        <p>Accept: application/json</p>
        <p>Content-Type: application/json;charset=UTF-8</p>
        <p>Origin: http://localhost:8080</p>
      </div>
      <div>
        <span class="italic">no body</span>
      </div>
    </aside>
    <article v-if="post">
      <h1>{{ post.title }}</h1>
      <p class="legend">Écrit par {{ post.user.username }}</p>

      <p>{{ post.content }}</p>
    </article>
  </section>
</template>

<script>
export default {
  name: 'RequestExampleGetOne',
  data () {
    return {
      /**
       * @typedef {Object} post
       * @property {Number} id
       * @property {String} title
       * @property {string} content
       * @property {User} user
       *
       * @type {?post}
       */
      post: null
    }
  },
  async created () {
    await this.axios({
      method: 'GET',
      url: `/articles/${this.$route.params.id}`
    }).then(response => {
      this.post = response.data.item
    })
  }
}
</script>

<style lang="scss" scoped>
  section{
    @import "styleRequest";
  }
</style>
