<template>
  <nav>
    <ul>
      <li class="list__title">Généralités</li>
      <router-link :to="{ name: 'css-general-general' }">
        <li :class="{ 'active-section': activeRoute('css-general-general') }">
          <v-icon size="50">description</v-icon>
          Généralités de CSS
        </li>
      </router-link>
      <router-link :to="{ name: 'css-general-selector' }">
        <li :class="{ 'active-section': activeRoute('css-general-selector') }">
          <v-icon size="50">select_all</v-icon>
          Sélection CSS
        </li>
      </router-link>
      <router-link :to="{ name: 'css-general-unity' }">
        <li :class="{ 'active-section': activeRoute('css-general-unity') }">
          <v-icon size="50">monetization_on</v-icon>
          Les unités
        </li>
      </router-link>
      <router-link :to="{ name: 'css-general-divers' }">
        <li :class="{ 'active-section': activeRoute('css-general-divers') }">
          <v-icon size="50">list</v-icon>
          Divers
        </li>
      </router-link>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'NavGeneral',
  methods: {
    activeRoute (routeName) {
      return this.$route.name === routeName
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/html/homeStyle";

  section {
    nav {
      ul {
        grid-template-columns: repeat(4, 1fr);

        li.list__title {
          grid-column: 1/5;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }
</style>
