@import "../general";

nav {
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;

    @media all and (max-width: $s) {
      display: flex;
      flex-direction: column;
    }

    a {
      text-decoration: none;
      color: black;

      @media all and (min-width: $s) {
        &:nth-child(2) li {
          border-left: 1px solid black;
        }
      }

      @media all and (max-width: $s) {
        border-left: 1px solid black;
      }

      &:last-child li {
        border-bottom: 1px solid black;
      }
    }

    > li:first-child {
      border-left: 1px solid black;
    }

    li {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 24px;
      border-top: 1px solid black;
      border-right: 1px solid black;
      padding: 10px;

      @media all and (min-width: $s) {
        border-bottom: 1px solid black;
      }

      @media all and (max-width: $s) {
        flex-direction: row;
        justify-content: center;
        font-size: 20px;
      }

      &.active-section {
        background-color: #ebebeb;
      }

      &.list__title {
        border-bottom: none;
        font-weight: bold;
        padding: 0;
      }

      i, img {
        margin-bottom: 20px;

        @media all and (max-width: $s) {
          margin-bottom: 0;
          margin-right: 20px;
          font-size: 20px !important;
        }
      }
    }
  }
}
