<template>
  <article>
    <img src="../../../assets/img/server/appel_ajax.png" alt="Image de page avec un appel AJAX"/>
  </article>
</template>

<script>
export default {
  name: 'Ajax'
}
</script>

<style lang="scss" scoped>
 @import "style";
</style>
