<template>
  <div id="application__examples__container">
    <header>Exemples d'applications</header>

    <router-link :to="{ name: 'modelClientServer-clientServer-applicationExamples-simple' }">
      <header :class="{ 'active-section': routeName === 'modelClientServer-clientServer-applicationExamples-simple' }">
        <h2>Simple</h2>
      </header>
      <aside :class="{ 'active-section': routeName === 'modelClientServer-clientServer-applicationExamples-simple' }">
        <img src="../../../assets/img/server/html.png" alt="Logo de HTML"/>
        <img src="../../../assets/img/server/css.png" alt="Logo de CSS"/>
      </aside>
    </router-link>

    <router-link :to="{ name: 'modelClientServer-clientServer-applicationExamples-personalized' }">
      <header :class="{ 'active-section': routeName === 'modelClientServer-clientServer-applicationExamples-personalized' }">
        <h2>Personnalisée</h2>
      </header>
      <aside :class="{ 'active-section': routeName === 'modelClientServer-clientServer-applicationExamples-personalized' }">
        <img src="../../../assets/img/server/php.png" alt="Logo de PHP"/>
        <img src="../../../assets/img/server/mysql.png" alt="Logo de MySQL"/>
      </aside>
    </router-link>

    <router-link :to="{ name: 'modelClientServer-clientServer-applicationExamples-animated' }">
      <header :class="{ 'active-section': routeName === 'modelClientServer-clientServer-applicationExamples-animated' }">
        <h2>Animée</h2>
      </header>
      <aside :class="{ 'active-section': routeName === 'modelClientServer-clientServer-applicationExamples-animated' }">
        <img src="../../../assets/img/server/javascript.png" alt="Logo de Javascript"/>
      </aside>
    </router-link>

    <router-link :to="{ name: 'modelClientServer-clientServer-applicationExamples-ajax' }">
      <header :class="{ 'active-section': routeName === 'modelClientServer-clientServer-applicationExamples-ajax' }">
        <h2>AJAX</h2>
      </header>
      <aside :class="{ 'active-section': routeName === 'modelClientServer-clientServer-applicationExamples-ajax' }">
        <img src="../../../assets/img/server/ajax_logo.png" alt="Logo de AJAX"/>
      </aside>
    </router-link>

    <router-link :to="{ name: 'modelClientServer-clientServer-applicationExamples-applicationFront' }">
      <header :class="{ 'active-section': routeName === 'modelClientServer-clientServer-applicationExamples-applicationFront' }">
        <h2>Application front lourde</h2>
      </header>
      <aside :class="{ 'active-section': routeName === 'modelClientServer-clientServer-applicationExamples-applicationFront' }">
        <img src="../../../assets/img/server/symfony_logo.png" alt="Logo de Symfony"/>
        <img src="../../../assets/img/server/vuejs_logo.png" alt="Logo de VueJS"/>
      </aside>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'NavApplicationsExamples',
  computed: {
    routeName () {
      return this.$route.name
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/general";

  #application__examples__container {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @media all and (max-width: $s) {
      grid-template-columns: 1fr;
    }

    > header {
      grid-column: 1/6;
      text-align: center;
      border: 1px solid black;
      font-size: 24px;
      font-weight: bold;

      @media all and (max-width: $s) {
        grid-column: 1/2;
        border: 2px solid black;
      }
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: bold;

      @media all and (max-width: $s) {
        border: 1px solid black;
      }

      &:nth-child(2) {
        header, aside {
          border-left: 1px solid black;
        }
      }

      @media all and (max-width: $s) {
        header, aside {
          border-left: 1px solid black;
        }
      }

      header {
        border-right: 1px solid black;
        border-bottom: 1px solid black;

        &.active-section {
          background-color: #ebebeb;
        }

        h2 {
          font-size: 16px;
          text-align: center;

          @media all and (max-width: $s) {
            font-size: 20px;
          }
        }
      }

      aside {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid black;
        border-bottom: 1px solid black;

        &.active-section {
          background-color: #ebebeb;
        }

        img {
          width: 120px;
          margin: 10px;
        }
      }
    }
  }
</style>
