<template>
  <article>
    <img src="../../../assets/img/server/page_personnalisee.png" alt="Image de page personnalisée"/>
  </article>
</template>

<script>
export default {
  name: 'Personalized'
}
</script>

<style lang="scss" scoped>
 @import "style";
</style>
