<template>
  <section>
    <v-simple-table>
      <tbody>
      <tr>
        <td>
          <span class="response_version">Version</span>,
          <span class="response_status_code">Status code</span>,
          <span class="response_status_text">Status text</span>
        </td>
        <td>
          <svg width="30" height="50">
            <path d="M0,24h28l-10,-10h2l10,10v2l-10,10h-2l10,-10h-28Z"/>
          </svg>
        </td>
        <td>
          <span class="response_version">HTTP/1.1</span>&#160;
            <span class="response_status_code">404</span>&#160;
          <span class="response_status_text">Not Found</span>
        </td>
      </tr>
      <tr>
        <td>Response headers</td>
        <td>
          <svg width="30" height="50">
            <path d="M0,24h28l-10,-10h2l10,10v2l-10,10h-2l10,-10h-28Z"/>
          </svg>
        </td>
        <td>
          <ul>
            <li><span class="header__header">Access-Control-Allow-Origin:</span> http://localhost:8080</li>
            <li><span class="header__header">Content-Type:</span> application/json</li>
            <li><span class="header__header">Cache-Control:</span> no-cache, private</li>
            <li><span class="header__header">Date:</span> Wed, 04 Sep 2019 21:59:53 GMT, Wed, 04 Sep 2019 21:59:53 GMT
            </li>
            <li><span class="header__header">Host:</span> localhost:8000</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Response body</td>
        <td>
          <svg width="30" height="50">
            <path d="M0,24h28l-10,-10h2l10,10v2l-10,10h-2l10,-10h-28Z"/>
          </svg>
        </td>
        <td><span class="italic">no body</span></td>
      </tr>
      </tbody>
    </v-simple-table>

    <span class="reference">
      <a href="https://tools.ietf.org/html/rfc2616#section-6">RFC 2616 - Section 6</a>
    </span>

    <v-btn color="primary" @click="onNavigate" large>
      Exemples de réponses
      <v-icon>navigate_next</v-icon>
    </v-btn>
  </section>
</template>

<script>
export default {
  name: 'Response',
  methods: {
    onNavigate () {
      this.$router.push({ name: 'modelClientServer-clientServer-requestResponse-responseExamples' })
    }
  }
}
</script>

<style lang="scss" scoped>
  section {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    table {
      td {
        font-size: 18px;

        .response_status_code {
          color: red;
          font-weight: bold;
        }

        .response_status_text {
          color: green;
          font-weight: bold;
        }

        .response_version {
          color: blue;
          font-weight: bold;
        }

        .italic {
          font-style: italic;
        }

        ul {
          padding-left: 0;

          li {
            list-style: none;

            .header__header {
              font-style: italic;
              font-weight: bold;
            }
          }
        }
      }
    }

    .v-btn {
      margin-top: 20px;
      font-weight: bold;
      font-size: 20px;
    }

    .reference {
      text-align: right;
      font-style: italic;
      margin-top: 20px;
    }
  }
</style>
