<template>
  <div id="flex__container">
    <div id="start" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>

    <code-block-css :code="flex.display" :full-screen="true"/>
    <div id="flex" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>

    <h2>flex-direction</h2>
    <code-block-css :code="flex.flexDirectionRowInverse" :full-screen="true"/>
    <div id="flexDirectionRowInverse" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>

    <code-block-css :code="flex.flexDirectionColumn" :full-screen="true"/>
    <div id="flexDirectionColumn" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>

    <h2>justify-content : axe principal</h2>
    <code-block-css :code="flex.flexJustifyContentFS" :full-screen="true"/>
    <div id="flexJustifyContentFS" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>
    <code-block-css :code="flex.flexJustifyContentFE" :full-screen="true"/>
    <div id="flexJustifyContentFE" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>
    <code-block-css :code="flex.flexJustifyContentC" :full-screen="true"/>
    <div id="flexJustifyContentC" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>
    <code-block-css :code="flex.flexJustifyContentSA" :full-screen="true"/>
    <div id="flexJustifyContentSA" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>
    <code-block-css :code="flex.flexJustifyContentSB" :full-screen="true"/>
    <div id="flexJustifyContentSB" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>
    <code-block-css :code="flex.flexJustifyContentSE" :full-screen="true"/>
    <div id="flexJustifyContentSE" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>

    <h2>align-items : axe secondaire</h2>
    <code-block-css :code="flex.flexAlignItemsS" :full-screen="true"/>
    <div id="flexAlignItemsS" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>
    <code-block-css :code="flex.flexAlignItemsFS" :full-screen="true"/>
    <div id="flexAlignItemsFS" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>
    <code-block-css :code="flex.flexAlignItemsFE" :full-screen="true"/>
    <div id="flexAlignItemsFE" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>
    <code-block-css :code="flex.flexAlignItemsC" :full-screen="true"/>
    <div id="flexAlignItemsC" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>

    <h2>flex à appliquer sur l'enfant</h2>
    <code-block-css :code="flex.flexPur" :full-screen="true"/>
    <div id="flexPur" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>
    <div>
      <code-block-css :code="flex.flexGrow3" :full-screen="true"/>
      <code-block-css :code="flex.flexGrow1" :full-screen="true"/>
    </div>
    <div id="flexGrow" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>
    <code-block-css :code="flex.flexBasis" :full-screen="true"/>
    <div id="flexBasis" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>
    <div>
      <code-block-css :code="flex.flexShrink1" :full-screen="true"/>
      <code-block-css :code="flex.flexShrink2" :full-screen="true"/>
    </div>
    <div id="flexShrink" class="flex__container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Flex',
  data () {
    return {
      flex: {
        display: `div {
        display: flex;
        }`,
        flexDirectionRowInverse: `div {
        display: flex;
        flex-direction: row-reverse;
        }`,
        flexDirectionColumn: `div {
        display: flex;
        flex-direction: column;
        }`,
        flexJustifyContentFS: `div {
        display: flex;
        justify-content: flex-start;
        }`,
        flexJustifyContentFE: `div {
        display: flex;
        justify-content: flex-end;
        }`,
        flexJustifyContentC: `div {
        display: flex;
        justify-content: center;
        }`,
        flexJustifyContentSA: `div {
        display: flex;
        justify-content: space-around;
        }`,
        flexJustifyContentSB: `div {
        display: flex;
        justify-content: space-between;
        }`,
        flexJustifyContentSE: `div {
        display: flex;
        justify-content: space-evenly;
        }`,
        flexAlignItemsS: `div {
        display: flex;
        align-items: stretch;
        }`,
        flexAlignItemsFS: `div {
        display: flex;
        align-items: flex-start;
        }`,
        flexAlignItemsFE: `div {
        display: flex;
        align-items: flex-end;
        }`,
        flexAlignItemsC: `div {
        display: flex;
        align-items: center;
        }`,
        flexPur: `div {
        width: auto;
        height: auto;
        }`,
        flexGrow3: `div:first-child {
        flex-grow: 3;
        }`,
        flexGrow1: `div {
        flex-grow: 1;
        }`,
        flexBasis: `div {
        flex-basis: 100px;
        }`,
        flexShrink1: `div:first-child {
        flex-shrink: 3;
        }`,
        flexShrink2: `div {
        flex-shrink: 1;
        }`
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  #flex__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
  }

  .flex__container {
    border: 1px solid black;

    div {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 35px;
      font-weight: bold;
      color: white;
      text-shadow: 2px 2px black;
    }

    div:first-child {
      background-color: #ff0000;
    }

    div:nth-child(2) {
      background-color: #00ff00;
    }

    div:last-child {
      background-color: #0000ff;
    }
  }

  h2 {
    grid-column: 1/3;
  }

  #start {
    grid-column: 1/3;
  }

  #flex {
    display: flex;
  }

  #flexDirectionRowInverse {
    display: flex;
    flex-direction: row-reverse;
  }

  #flexDirectionColumn {
    display: flex;
    flex-direction: column;
  }

  #flexJustifyContentFS {
    display: flex;
    justify-content: flex-start;
  }

  #flexJustifyContentFE {
    display: flex;
    justify-content: flex-end;
  }

  #flexJustifyContentC {
    display: flex;
    justify-content: center;
  }

  #flexJustifyContentSA {
    display: flex;
    justify-content: space-around;
  }

  #flexJustifyContentSB {
    display: flex;
    justify-content: space-between;
  }

  #flexJustifyContentSE {
    display: flex;
    justify-content: space-evenly;
  }

  #flexAlignItemsS {
    display: flex;
    align-items: stretch;

    div {
      height: auto;
    }
  }

  #flexAlignItemsFS {
    display: flex;
    align-items: flex-start;
  }

  #flexAlignItemsFE {
    display: flex;
    align-items: flex-end;
  }

  #flexAlignItemsC {
    display: flex;
    align-items: center;
  }

  #flexPur {
    display: flex;

    div {
      width: auto;
      height: auto;
    }
  }

  #flexGrow {
    display: flex;

    div {
      flex-grow: 1;
      width: auto;
    }

    div:first-child {
      flex-grow: 3;
      width: auto;
    }
  }

  #flexBasis {
    display: flex;

    div {
      width: auto;
      height: auto;
      flex-basis: 100px;
    }
  }

  #flexShrink {
    display: flex;
    width: 150px;

    div {
      width: auto;
      height: auto;
      flex-basis: 150px;
      flex-shrink: 1;
    }

    div:first-child {
      flex-shrink: 3;
    }
  }
</style>
