<template>
  <section>
    <h2>Transpiler</h2>

    <p>Transforme le code en ES6 : <a href="https://babeljs.io/">Babel</a></p>

    <h2>Minifier</h2>

    <p>Supprime les espaces inutiles : <a href="https://github.com/srod/node-minify">node-minify</a> -
      <a href="https://github.com/mishoo/UglifyJS2#readme">UglifyJS</a></p>

    <h2>Bundler</h2>

    <p>Organise un projet JS : <a href="https://webpack.js.org/">Webpack</a></p>

    <h2>Linter</h2>

    <p>Vérifie la qualité du code : <a href="https://www.jslint.com/">JSLint</a> -
      <a href="https://eslint.org/">ESLint</a></p>

    <p class="app__ressources">Ressources :</p>
    <ul class="app__ressources">
      <li>
        <a
          href="https://openclassrooms.com/fr/courses/5543061-ecrivez-du-javascript-pour-le-web/5577726-optimisez-votre-code"
          target="_blank">Optimiser votre code JS</a>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  name: 'Plus',
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/ressources";
</style>
